[submodule "mpcop/libs-sdks"]
	path = mpcop/libs-sdks
	url = https://github.com/martinpaljak/oracle_javacard_sdks.git
[submodule "mpcop/protocols/Myst"]
	path = mpcop/protocols/Myst
	url = https://github.com/KristianMika/Myst.git
[submodule "ping/libs-sdks"]
	path = ping/libs-sdks
	url = https://github.com/martinpaljak/oracle_javacard_sdks.git
[submodule "mpcop/protocols/javacard-smpc-rsa"]
	path = mpcop/protocols/javacard-smpc-rsa
	url = https://github.com/KristianMika/javacard-smpc-rsa.git
