/*
General
*/

html {
    background-color: rgb(240, 240, 240);
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.hidden {
   visibility: hidden
}

/*
Top bar
*/

.MPC-OpenPlatform-header {
    height: 40pt;
    width: 100%;
    top: 0;
    background-color: rgb(212, 212, 212);
    display: flex;
}

.MPC-OpenPlatform-header a:first-child {
    margin-left: 10%;
}

.protocols {
    position: absolute;
    right: 0;
    width: 30%;
    margin-right: 10%;
    display: flex;
}

.protocols a {
    padding-right: 30%;
}


/*
Protocols
*/

.response {
    width: 60%;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 10pt;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
}

textarea {
    padding: 5pt;
    width: 60%;
    height: 100pt;
    background-color: white;
    border-radius: 3pt;
}

.container {
    width: 60%;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 180pt;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
}

.pseudo-form {
    display: inline-block;
    align-items: center;
}

.pseudo-form button {
    border-radius: 3pt;
}

input {
    margin: 5pt 0;
    background-color: white;
    border-radius: 3pt;
}

select {
    margin-bottom: 5pt;
}

#yagg {
    padding-bottom: 15pt;
}

#yagg-value{
    height: 50pt;
    margin: 10pt;
}

/*
Footer logger
*/

#footerLogger {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 120pt;
    background-color: rgba(0, 0, 0, 0.8);
}

#footerLogger textarea {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    width: 100%;
    margin: 10pt;
    height: 110pt;
    overflow-wrap: auto;
    border: 0;
    padding: 0 15pt;
    outline: none;
}

#enableDebug {
    margin-top: 5px;
}


/*
 Don't underline links
*/

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/*
Loader
(stolen from https://www.w3schools.com/howto/howto_css_loader.asp)
*/

.loader {
    border: 16px solid rgb(212, 212, 212);
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    position: absolute;
    z-index: 100;
    pointer-events:none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
