<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MPC Open Platform - Home</title>
    <link rel="stylesheet" href="/resources/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/main.css">

    <script src="https://npmcdn.com/@reactivex/rxjs@5.0.0-beta.6/dist/global/Rx.umd.js"></script>
          
    <script src="http://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>

    <script src='/resources/js/libs/vertx-eventbus.js'></script>

</head>

<body>
    <div class="MPC-OpenPlatform-header">
        <a href="/">
            <h3>MPC Open Platform</h3>
        </a>
        <div class="protocols">
            <a href="myst">
                <h4>Myst</h4>
            </a>
            <a href="smart-id-rsa">
                <h4>Smart-ID RSA</h4>
            </a>
        </div>
    </div>

</body>

</html>
