# Gradle project-specific cache directory
.gradle/

# Gradle build output directory
build/
bin/

# idea
.idea/
.classpath
.project
.settings/

# perflogs
*.csv
*.tex

# this folder contains static website files that are build from 
# the ../mpcop-web project
static/

# Debian packaging
*.changes
*.build
*.buildinfo
.debhelper/
debian/mpcop/*
debhelper-build-stamp
files
*.substvars
