Source: mpcop
Section: science
Priority: optional
Maintainer: Kristian Mika <xmika2@mail.muni.cz>
Build-Depends: debhelper-compat (= 12),
    default-jdk | default-jdk-headless
Standards-Version: 4.5.1
Homepage: https://github.com/KristianMika/MPC-Open-Platform/
Rules-Requires-Root: no

Package: mpcop
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends},
    default-jre | default-jre-headless,
    libpcsclite-dev,
    pcscd
Description: Open Platform for Multiparty Signatures with Smartcards
