@import url("https://pagecdn.io/lib/normalize/8.0.1/normalize.min.css");

:root {
	--background-url: url("./background.svg");
	--root-min-height: 100vh;
	--attribution-height-smartphone: 40px;
	--attribution-height-desktop: 20px;
	--app-min-height-smartphone: calc(
		100vh - var(--attribution-height-smartphone)
	);
	--app-min-height-desktop: calc(100vh - var(--attribution-height-desktop));
	--react-icons-font-size: 1.5em;
}

html{
	min-height: var(--root-min-height);
	background-image: var(--background-url);
}

.App {
	min-height: var(--app-min-height-desktop);
}

@media only screen and (max-width: 450px) {
	.App {
		min-height: var(--app-min-height-smartphone);
	}
}

.top-react-icons {
	font-size: var(--react-icons-font-size);
}
